.aplo1{
    background:url(fondos/01F.jpg) !important; 
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo2{
    background:url(fondos/02F.jpg) !important;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo3{
    background:url(fondos/03F.jpg) !important;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo4{
    background:url(fondos/04F.jpg)!important;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo5{
    background:url(fondos/05F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo6{
    background:url(fondos/06F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo7{
    background:url(fondos/07F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}
    
.aplo8{
    background:url(fondos/08F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo9{
    background:url(fondos/09F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo10{
    background:url(fondos/10F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo11{
    background:url(fondos/11F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo12{
    background:url(fondos/12F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo13{
    background:url(fondos/13F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}
    
.aplo14{
    background:url(fondos/14F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}

.aplo15{
    background:url(fondos/15F.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;}