
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . ."
      ". . . . . c1-item2 c1-item2 ."
      ". c1-item1 c1-item1 . . c1-item2 c1-item2 ."
      ". c1-item1 c1-item1 . . . . ."
      ". . . . c1-item3 c1-item3 . ."
      ". . . . . . . .";
  }
  .c1-item1 { grid-area: c1-item1;
    position: relative;
    top: -115px;
    left: 100px;
   
    & img{
       width:150px;
       filter: drop-shadow(1px 1px 0 black) 
       drop-shadow(-1px -1px 0 black);
   }
  }
  .c1-item2 { grid-area: c1-item2;
    
    }
 
    .c1-item3 { grid-area: c1-item3;
     
     }
  

  .container2 {
   

    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . ."
      ". . . c2-item1 c2-item1 c2-item1 c2-item1  ."
      ". . . c2-item1 c2-item1 c2-item1 c2-item1  ."
      ". . . c2-item1 c2-item1 c2-item1 c2-item1  ."
      ". . . . . . . ."
      ". . . . . . . .";
  }
  
  .c2-item1 { grid-area: c2-item1; 
  & img{
    width: 350px;
  } }

  .container3 {
   

    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . ."
      ". c3-item1 . . . . . ."
      ". . . c3-item2 c3-item2 . . ."
      ". . . . . . c3-item3 ."
      ". . . . . . . .";

  }
  
  .c3-item1 { grid-area: c3-item1; z-index: 99999; }
  .c3-item2 { grid-area: c3-item2; z-index: 99999;}
  .c3-item3 { grid-area: c3-item3; z-index: 99999;}
  
  
  .container4 {
    
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . ."
      ". . . . . . . ."
      ". c4-item1 c4-item1 . . c4-item2 c4-item2 ."
      ". . . . . . . ."
      ". . . . . . . .";
  }
  
  .c4-item1 { grid-area: c4-item1; }
  
  .c4-item2 { grid-area: c4-item2; }
  
  .container5 {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . ."
      ". c5-item1 c5-item1 . . c5-item2 c5-item2 ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . .";
  }

  .c5-item2 { grid-area: c5-item2; }
  
  .c5-item1 { grid-area: c5-item1; }

  .container6 {
    
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". c6-item1 c6-item1 . . c6-item2 c6-item2 ."
      ". . . . . . . .";
  }

  .c6-item2 { grid-area: c6-item2; z-index: 999999;}
  
  .c6-item1 { grid-area: c6-item1; z-index: 999999;}


  .container7 {
    
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . ."
      ". . c7-item1 c7-item1 . . . ."
      ". . . . . . . ."
      ". . . . c7-item2 c7-item2 . ."
      ". . . . c7-item2 c7-item2 . ."
      ". . . . . . . .";
  }
  
  .c7-item2 { grid-area: c7-item2;}
  
  .c7-item1 { grid-area: c7-item1; }
  
  .container8 {
   
    display: grid;
    height: 100vh;
    grid-template-columns: 0.7fr 1.4fr 1.2fr 0.7fr 1.4fr 0.6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". c8-item1 . . c8-item2 ."
      ". . . . . ."
      ". . c8-item3 . . ."
      ". . . . . .";
  }
  
  .c8-item1 { grid-area: c8-item1;  }
  
  .c8-item2 { grid-area: c8-item2;  }
  
  .c8-item3 { grid-area: c8-item3;  }


  .container9 {
   
    height: 100vh;
    display: grid;
    grid-template-columns: 0.9fr 1.4fr 0.7fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". c9-item1 . . ."
      ". . . . .";
  }
  
  .c9-item1 { grid-area: c9-item1;  }
  
  .container10 {
    

    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". c10-item1 . . ."
      ". . . . ."
      ". . . c19-item2 ."
      ". . . . .";
  }
  
  .c10-item1 { grid-area: c10-item1; z-index: 99999; }
 
  .c19-item2 { grid-area: c19-item2; z-index: 99999; }
  

/* Celular  */
@media (max-width: 600px) {
  .menu1{
    font-size: 88px;
    font-family: 'Shippori Antique', sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". . c1-item1 c1-item1 . ."
      ". . . . . ."
      ". . c1-item2 c1-item2 c1-item2 ."
      ". c1-item3 . . . ."
      ". . . . . .";
  }
  .c1-item1 { grid-area: c1-item1;
    position: relative;
    top: 28px;
    
   }
   
  .container2 {
    display: grid;
    grid-template-columns: 0.6fr 1.7fr 0.7fr;
    grid-template-rows: 1fr 1.1fr 0.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". c2-item1 ."
      ". . .";
  }

  .container3 {
    
    display: grid;
    grid-template-columns: 0.6fr 1.1fr 1.3fr 1.2fr 0.8fr;
    grid-template-rows: 1fr 1.3fr 0.7fr 1.3fr 0.9fr 1.3fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". . . c3-item1 ."
      ". . . . ."
      ". . c3-item2 . ."
      ". . . . ."
      ". c3-item3 . . ."
      ". . . . .";
  }
  
  .container4 {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows: 1.1fr 1.2fr 0.5fr 1.2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". c4-item1 ."
      ". . ."
      ". c4-item2 ."
      ". . .";
  }
  
  .container5 {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 0.4fr 1.6fr 0.8fr;
    grid-template-rows: 1.1fr 1.2fr 0.4fr 1.3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". . . c5-item1 ."
      ". . . . ."
      ". c5-item2 . . ."
      ". . . . .";
  }
  
  .container6 {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 0.4fr 1.6fr 0.8fr;
    grid-template-rows: 1.1fr 1.2fr 0.4fr 1.3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". c6-item1 . . ."
      ". . . . ."
      ". . . c6-item2 ."
      ". . . . .";
  }
  
  .container7 {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 0.4fr 2.2fr 0.1fr 1.3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". c7-item1 c7-item1 . ."
      ". . . . ."
      ". . c7-item2 c7-item2 ."
      ". . . . .";
  }
  
  .container8 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1.4fr 1.5fr 0.4fr 0.7fr;
    grid-template-rows: 0.6fr 1.4fr 0.4fr 1.2fr 0.7fr 1.5fr 1.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". . c8-item1 . ."
      ". . . . ."
      ". c8-item2 . . ."
      ". . . . ."
      ". . c8-item3 . ."
      ". . . . .";
  }
  

  
  .container9 {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.9fr 1.4fr 0.7fr;
    grid-template-rows: 1fr 1.2fr 0.8fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". c9-item1 ."
      ". . ."
      ". . ."
      ". . .";
  }
  
  .container10 {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1.3fr 0.7fr;
    grid-template-rows: 0.7fr 1.2fr 0.9fr 1.2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . c10-item1 ."
      ". . . ."
      ". c10-item2 . ."
      ". . . .";
  }
  
}